<div class="row container d-flex justify-content-center">
  <div class="col-lg-12">
    <div class="card px-3">
      <div class="card-body">
        <app-todo-form (refreshTodoListEventEmitter)="refreshTodolist()"></app-todo-form>
        <ul class="pt-2 list-group list-group-flush">
          <app-todo-item *ngFor="let todo of todoList" [todo]="todo"
                         (refreshTodoListEventEmitter)="refreshTodolist()"></app-todo-item>
        </ul>
      </div>
    </div>
  </div>
</div>
